@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&family=Roboto:wght@300;400;500&family=Ubuntu:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    position: static;
    text-decoration: none;
    list-style: 0;
}

body {
    background-image: url('/img/ceu.png');
}

a {
    color: inherit;
    color: white;
}

/* barra de navegação */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    padding-right: 300px;
    padding-left: 300px;
}

.navbar a {
    margin: 14px;
}

#linha-horizontal {
    margin-left: 290px;
    margin-bottom: 40px;
    width: 800px;
    border: 2px solid white;
}

/* formulário */

.box {
    position: absolute;
    margin-left: 380px;
    background-color: white;
    width: 600px;
    padding: 40px 40px;
    border-radius: 8px;
}

form {
    text-align: center;
}

h1 {
    font-size: 22px;
    text-align: center;
}

input {
    width: 374px;
    outline: none;
    padding: 15px;
    border-radius: 4px;
}

.btn-box {
    display: flex;
    justify-content: center;
}

.btn-box button {
    background-color: black;
    color: white;
    width: 160px;
    padding: 20px 0;
    border-radius: 8px;
}

#texto {
    height: 120px;
}


